.container {
    flex: 1;
    align-items: center;
    justify-content: center;
}
.result {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.game-screen {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.menu {
    margin-top: 50px;
}
.menu>ul {
    list-style-type: none;
}
.menu>ul>li {
    cursor: pointer;
    padding: 10px;
    -moz-box-shadow: rgb(0, 0, 0) 0px 1px 0px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 1px 0px;
    box-shadow: rgb(0, 0, 0) 0px 1px 0px;
    transition: padding .2s;
    -webkit-transition: padding .2s;
    -moz-transition: padding .2s;
}